@import "./components/formContainer.css";
@import "./components/form.css";
@import "./components/tasksList.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-50;
}

#app {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2c3e50;
}

input,
textarea {
  @apply font-normal
  outline-none rounded-md
  border border-slate-200
  bg-slate-50;
}

input::placeholder,
textarea::placeholder {
  @apply text-slate-300;
}
