@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-50;
}

#app {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/*  Estilos de TaskList.vue */
.tasks-list {
  @apply pb-2;
}
.tasks-list .list {
  @apply grid;
}
.tasks-list .list li {
  @apply grid sm:flex items-center flex-wrap sm:justify-between w-full py-4 border-b relative sm:flex;
}
.tasks-list__title {
  @apply flex items-center gap-2;
}
.task-title {
  @apply h-6 w-40 text-left truncate md:w-60;
}
.tasks-list__title .show-title {
  @apply h-auto text-clip overflow-auto;
}
::-webkit-scrollbar {
  display: none;
}
.tasks-list__tags {
  @apply grid grid-flow-col justify-start items-center gap-2 sm:pr-36;
}
.tasks-list__tags small {
  @apply bg-green-600 text-white mt-2 sm:m-0 rounded-md px-2;
}
.tasks-list small input:checked ~ label {
  @apply bg-green-600 text-white;
}

.check {
  @apply w-5 h-5 p-[10px] bg-check bg-center bg-cover bg-no-repeat cursor-pointer invert-[90%];
}
.uncheck {
  @apply w-5 h-5 p-[10px] bg-uncheck bg-center bg-cover bg-no-repeat cursor-pointer invert-[60%];
}

.checked .task-title {
  @apply text-gray-400;
}
.checked .tasks-list__tags small,
.checked .tasks-list__details {
  @apply bg-gray-100 text-gray-400;
}
.checked .tasks-list__tags {
  @apply sm:pr-24;
}
.checked .tasks-list__tags .edit {
  @apply hidden;
}
.checked .tasks-list__tags .arrow {
  @apply grayscale;
}

.edit {
  @apply w-6 h-6 bg-edit bg-center bg-cover bg-no-repeat cursor-pointer
  absolute top-4 right-24 sm:top-4 sm:right-24;
}
.arrow {
  @apply w-4 h-4 bg-arrow bg-center bg-cover bg-no-repeat cursor-pointer
  absolute top-5 right-[3.3rem] sm:top-5 sm:right-12;
}
.rotate {
  @apply rotate-90;
}
.remove {
  @apply w-3 h-3 bg-remove bg-center bg-cover bg-no-repeat cursor-pointer;
}
.tasks-list__tags .remove {
  @apply absolute top-[22px] right-2 sm:right-1;
}
